# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore virtual environments
venv/
env/
*.venv
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore logs and temporary files
logs/
*.log
*.tmp
 Ignore VSCode and PyCharm project files
.vscode/
.idea/
# Ignore any other hidden files
.*swp
