# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Docker
docker-compose.override.yml


# IDE files (e.g. PyCharm, VS Code)
.vscode/
.idea/

# Sensitive information
.env
*.env
